canvas {
    position: fixed;
    top: 0;
    left: 10;
}
@font-face {
    font-family: Pixel;
    src: url(pixel.ttf);
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 1200px;
    background-color:black;
}
.gwd-span-1o8w {
    position: absolute;
    top: 42px;
    height: 75px;
    font-family: Pixel;
    width: 284px;
    left: 29px;
}
.gwd-new-class-1n7h {
    font-size: 40px;
    letter-spacing: 0px;
    background-image: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(248, 150, 54);
    font-style: italic;
    font-weight: bold;
}
.gwd-q-sqmq {
    font-weight: bold;
    font-style: normal;
}
.gwd-span-1nnp {
    position: absolute;
    font-family: Pixel;
    background-image: none;
    background-color: transparent;
    color: rgb(160, 234, 120);
    width: 36.91%;
    height: 19.74%;
    left: 3.59%;
    top: 6.85%;
}
.gwd-strong-8b8l {
    font-size: 40px;
    color: rgb(154, 227, 116);
}
.gwd-div-875a {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}
.gwd-span-phx7 {
    position: absolute;
    font-family: pixel;
    color: rgb(122, 235, 106);
    width: 39.06%;
    height: 34.26%;
    font-size: 5vw;
    left: 3.99%;
    top: 2%;
}
.gwd-span-113u {
    position: absolute;
    font-family: pixel;
    color: rgb(122, 235, 106);
    width: 24.77%;
    height: 8.24%;
    left: 45%;
    top: 15%;
    font-size: 3vw;
}
.gwd-span-fjos {
    position: absolute;
    width: 21.77%;
    height: 8.24%;
    font-family: pixel;
    color: rgb(122, 235, 106);
    right: 0%;
    top: 15%;
    font-size: 3vw;
}

.gwd-span-1cuu {
    position: absolute;
    width: 21.77%;
    height: 8.24%;
    font-family: pixel;
    color: rgb(122, 235, 106);
    right: 55%;
    top: 4000px;
    font-size: 3vw;
}
.timeline-container {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 25%;
    left:2.5%;
}

.timeline {
    position: relative;
    max-width: 800px;
    width: 100%;
    border-left: 18px solid;
    margin-left: 20px;
    padding-left: 55px;
    color: rgb(122, 235, 106);

}

.timeline-event {
    position: relative;
    margin-bottom: 40px;
    color: rgb(122, 235, 106);
}
.timeline-event-title {
    position: relative;
    margin-bottom: 10px;
}

.timeline-date {
    position: absolute;
    left: -60px;
    top: 0;
    font-family: pixel;
    color: rgb(122, 235, 106);
    padding: 8px 12px;
    border-radius: 4px;
}

.timeline-content {
    padding: 30px;
    padding-top: 7px;
    border-radius: 4px;
    font-family: pixel;
    color: rgb(122, 235, 106);

}
@keyframes colorAnimation {
    0% {
        color: rgb(196 167 238); /* Start with reduced opacity */
        transform: scale(1); /* Initial scale */
    }
    50% {
        color: rgb(255, 139, 23); /* Peak opacity */
        transform: scale(1); /* Slightly larger scale */
    }
    100% {
        color: rgb(196 167 238); /* End with reduced opacity */
        transform: scale(1); /* Back to the original scale */
    }
}

.hoverable:link{
    color: rgb(196 167 238);
}

.hoverable:visited{
    color:rgb(196 167 238);

}
.hoverable:hover {
    color: rgb(255, 139, 23);
    transition: 0.35s;
}
@keyframes pulseAnimation {
    0% {
        opacity: 0; /* Start with reduced opacity */
        transform: scale(1); /* Initial scale */
    }
    50% {
        opacity: 1; /* Peak opacity */
        transform: scale(1); /* Slightly larger scale */
    }
    100% {
        opacity: 0; /* End with reduced opacity */
        transform: scale(1); /* Back to the original scale */
    }
}
.timeline-content::before {
    content: "-----";
    position: relative;
    left: -85px;
    width: 75px;
    top:47px;
    color:black;
}
.timeline-content:hover::before {
    content: "-----";
    position: relative;
    left: -85px;
    width: 75px;
    top:47px;
    color:rgb(122, 235, 106);
    background-color: rgb(122, 235, 106) ; /* Color of the circuit trace line */
    animation: pulseAnimation 0.35s steps(1) infinite; /* Apply the animation */
}

.about-me-container {
    position:absolute;
    top: 20%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    font-family: Pixel; /* Add Pixel font */
    color: rgb(122, 235, 106); /* Update text color */
}

.about-me-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-me-container p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
}
.top-container{

}
.about-me-container hr{
    border-color: rgb(196 167 238);
    background-color: rgb(196 167 238);
    width: 50%;
    height:4px;
}

